SECRET_KEY=your-secret-key-here
DEBUG=True
AZURE_OPENAI_API_KEY=97b20fc0d03e4e78bc6a40f42e18dbb0
AZURE_OPENAI_ENDPOINT=https://ai-dlidzhievai4607079361717229.services.ai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1
AZURE_OPENAI_API_VERSION=2025-01-01-preview
